.body {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1300px;
}

header {
    display:flex;
    height: 104px;
    width: 1300px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid hsla(177, 83%, 50%, 1);
}

.logo {
    font-family: Lemon;
    font-size: 36px;
    color:hsla(283, 54%, 54%, 1);
    height: 51px;
}

#menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 663px;
    font-family: Gilroy;
    font-size: 24px;
}

li a{
    text-decoration: none;
    color: black;
}

footer {
    border-top: 3px solid hsla(177, 83%, 50%, 1);
    display: flex;
    height: 216px;
    align-items: center;
    justify-content: space-between;
    font-family: Gilroy;
}

.footer_first {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 146px;
    justify-content: space-between;
    align-items: center;
}

.logo_frame {
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    margin: 0;
    padding: 0;
    color:rgba(166, 74, 201, 0.7);
    text-shadow: 0px 4px 4px rgba(166, 74, 201, 0.25);
}

.footer_second {
    height: 148px;
}

#menu_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_third {
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.social_icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social_icons img {
    color: #A64AC9;
}

.text_links {
    width: 128px;
}

.footer_fouth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 146px;
}

#github {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 70%;
    font-size: 14px;
    width: 169px;
}

a {
    text-decoration: none;
    color: black;
}

.burger_menu {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 40px;
    display: none;
}


.bar {
    display: block;
    width: 30px; 
    height: 2px;
    background-color: black;
}

.bar::after, 
.bar::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
}

.bar::before {
    position: relative;
    top: -10px;
    left: 0;
}

.bar::after {
    position: relative;
    top: 10px;
    left: 0;
}

/* iPad Pro */
@media only screen and (max-width: 1024px) {
    .body {
        width: 90%;
    }

    header, #menu {
        width: 100%;
    }

    footer {
        width: 100%;
    }

}

/* Pixel 2XL */
@media only screen and (min-width: 411px) and (max-width: 1023px) {

    header {
        width: 100%;
        height: 80%;
    }

    .logo {
        font-size: 24px;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer_second{
        display: none;
    }

    .footer_first, .footer_third, .footer_fouth {
        font-size: 16px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* iPhone X */
@media only screen and (min-width:360px) and (max-width: 411px){

    .logo {
        font-size: 28px;
    }

    .burger_menu {
        top: 25px;
    }

    header {
        height: 60px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    #menu_footer {
        display: none;
    }

    .footer_first, .footer_third, .footer_fouth {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

/* for burger_menu */
@media (max-width:993px) {

    #menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu_class {
        position: absolute;
        top: 70px;
        left: -100%;
        z-index: 10;
        background-color: white;
        height: 50vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .menu_class.active1 {
        left: 0;
    }

    .nav_item {
        width: 100%;
    }

    .burger_menu {
        display: block;
    }
}